<style>
  #<%= dom_id(comment) %> {
    margin: 5rem; /* Set left and right margin to "auto" */
    margin-left: 15rem; /* Set left and right margin to "auto" */
    max-width: 300px; /* Set a maximum width to control the centering width */
    text-align: left; /* Align the text inside the centered div */
  }
</style>




<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= comment.task_id %>
  </p>

  <p>
    <%# <strong>Completed:</strong> %>
    <%#= comment.completed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

</div>
