<p style="color: green"><%= notice %></p>
<h1>Comment Detail</h1>
<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment), class: 'btn btn-primary' %> |
  <%= link_to "Back to comments", comments_path, class: 'btn btn-primary' %>

  <%= button_to "Destroy this comment", @comment, method: :delete, class: 'btn btn-primary m-1', data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
