

<style>
  #<%= dom_id(task) %> {
    margin: 5rem; /* Set left and right margin to "auto" */
    margin-left: 15rem; /* Set left and right margin to "auto" */
    max-width: 300px; /* Set a maximum width to control the centering width */
    text-align: left; /* Align the text inside the centered div */
  }
</style>




<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>
