

<style>
  #<%= dom_id(task) %> {
    margin: 5rem; /* Set left and right margin to "auto" */
    margin-left: 10rem; /* Set left and right margin to "auto" */
    max-width: 300px; /* Set a maximum width to control the centering width */
    text-align: left; /* Align the text inside the centered div */
  }
</style>


<div class="d-flex">

<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>

<div id="<%= dom_id task %>">
<h3></h3>
<% comment = task.comments.last%>
  <p>
    <strong>Id:</strong>
    <%= comment.id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= comment.created_at %>
  </p>
  


 
</div>
</div>
